# Normalize line endings automatically
* text=auto

# Ensure code and configuration files are always checked out with LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.css text eol=lf
*.html text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
